<html>
  <head>

  <link rel="stylesheet" href="./homepage.component.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <header>
    <div class="logo"><a href="#">EmbedTechnolozix</a></div>

    <div class="heading">
      <ul>
        <li><a class="under" routerLink="/homePage"  >HOME</a></li>
        <li><a class="under" routerLink="/Store">SHOP</a></li>
        <li><a class="under" routerLink="/Service">OUR SERVICES</a></li>
        <li><a class="under" routerLink="/ContactUs">CONTACT US</a></li>
        <li><a class="under" routerLink="/AboutUs">ABOUT US</a></li>
      </ul>
    </div>
    <div class="heading1">
      <ion-icon name="menu" class="ham"></ion-icon>
    </div>
  </header>
  <!-- <section>



  </section> -->

  <main>
    <div class="intro">
      <h1>Embedded System Developer</h1>
      <p>We are Embedded developer and love to create Embedded Projects.</p>
      <button>Learn More</button>
    </div>
    <div class="achievements">
      <div class="work">
        <i class="fas fa-atom"></i>
        <p class="work-heading">Projects</p>
        <p class="work-text">we have worked on many projects and We are very proud of them. We are a very good developer and We always looking for new projects.</p>
      </div>
      <div class="work">
        <i class="fas fa-skiing"></i>
        <p class="work-heading">Skills</p>
        <p class="work-text">We have a lot of skills and We are very good at them. We are very good at programming and We are always looking for new skills.</p>
      </div>
      <div class="work">
        <i class="fas fa-ethernet"></i>
        <p class="work-heading">Network</p>
        <p class="work-text">We have a lot of network skills and We are very good at them. We are very good at networking and We are always looking for new network skills.</p>
      </div>
    </div>
    <div class="about-me">
      <div class="about-me-text">
        <h2>About Me</h2>
        <p>We are Embedded System developer and love to develop Embedded Software and Embedded System. We are very good developer and We are always looking for new projects.We are always looking for new projects.</p>
      </div>
      <img src="https://images.unsplash.com/photo-1596495578065-6e0763fa1178?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" alt="me">
    </div>
  </main>

  <footer>
    <div class="footer0">
      <h1>EmbedTechnolozix</h1>
    </div>
    <div class="footer1 ">
      Connect with us at
      <div class="social-media">
        <a href="https://www.facebook.com/embedtechnolozix" class="fa fa-facebook"></a>
        <a href="https://linkedin.com/company/embedtechnolozix" class="fa fa-linkedin"></a>
        <a href="https://www.instagram.com/embedtechnolozix" class="fa fa-instagram"></a>
        <a href="https://youtube.com/embedtechnolozix" class="fa fa-youtube"></a>
        <a href="https://wa.me/9639627944" class="fa fa-whatsapp"></a>
      </div>
    </div>

    <div class="footer2">Copyright ©  <h4> EmbedTechnolozix Pvt Ltd </h4>  2023-2028</div>
  </footer>
  <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  <script src="./ecommerce.js"></script>
</body>
</html>
