<html>
  <head>

  <link rel="stylesheet" href="./aboutus.component.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <header>
    <div class="logo"><a href="#">EmbedTechnolozix</a></div>
    <div class="heading">
      <ul>
        <li><a class="under" routerLink="/homePage"  >HOME</a></li>
        <li><a class="under" routerLink="/Store">SHOP</a></li>
        <li><a class="under" routerLink="/Service">OUR SERVICES</a></li>
        <li><a class="under" routerLink="/ContactUs">CONTACT US</a></li>
        <li><a class="under" routerLink="/AboutUs">ABOUT US</a></li>
      </ul>
    </div>
    <div class="heading1">
      <ion-icon name="menu" class="ham"></ion-icon>
    </div>
  </header>
  <section>

    <div class="container">
      <h1>About Us</h1>

      <section>
        <!-- <h2>Our Story</h2>
        <p>We are</p> -->

        <h2>Our Mission</h2>
        <p class="mission">At our company, we strive to deliver innovative solutions that exceed our clients' expectations. We are committed to pushing the boundaries of technology and providing excellent service to enhance our customers' success.</p>

        <h2>Our Values</h2>
        <ul>
            <li>Customer Satisfaction</li>
            <li>Innovation</li>
            <li>Integrity</li>
            <li>Teamwork</li>
            <li>Continuous Improvement</li>
        </ul>
    </section>
</div>
  </section>

  <footer>
    <div class="footer0">
      <h1>EmbedTechnolozix</h1>
    </div>
    <div class="footer1 ">
      Connect with us at
      <div class="social-media">
        <a href="https://www.facebook.com/embedtechnolozix" class="fa fa-facebook"></a>
        <a href="https://linkedin.com/company/embedtechnolozix" class="fa fa-linkedin"></a>
        <a href="https://www.instagram.com/embedtechnolozix" class="fa fa-instagram"></a>
        <a href="https://youtube.com/embedtechnolozix" class="fa fa-youtube"></a>
        <a href="https://wa.me/9639627944" class="fa fa-whatsapp"></a>
      </div>
    </div>

    <div class="footer2">Copyright ©  <h4> EmbedTechnolozix Pvt Ltd </h4>  2023-2028</div>
  </footer>
  <!-- <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  <script src="./ecommerce.js"></script> -->

</body>
</html>
