<html>
  <head>

  <link rel="stylesheet" href="./services.component.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <header>
    <div class="logo"><a href="#">EmbedTechnolozix</a></div>

    <div class="heading">
      <ul>
        <li><a class="under" routerLink="/homePage"  >HOME</a></li>
        <li><a class="under" routerLink="/Store">SHOP</a></li>
        <li><a class="under" routerLink="/Service">OUR SERVICES</a></li>
        <li><a class="under" routerLink="/ContactUs">CONTACT US</a></li>
        <li><a class="under" routerLink="/AboutUs">ABOUT US</a></li>
      </ul>
    </div>
    <div class="heading1">
      <ion-icon name="menu" class="ham"></ion-icon>
    </div>
  </header>
  <main>
    <div class="container ">
      <h1>Our Embedded Systems and IoT Products</h1>
    </div>
    <section class="service">
      <h2>Embedded Systems</h2>
      <p>We specialize in designing and developing cutting-edge embedded systems tailored to meet diverse industry needs. From hardware design to firmware development, our solutions are crafted to optimize performance and reliability.</p>
      <img src="https://data.embeddedcomputing.com/uploads/resize/1256/756/external/data.embeddedcomputing.com/uploads/articles/primary_images/1647278021.jpg" alt="Embedded System">
  </section>

  <section class="service">
      <h2>IoT Products</h2>
      <p>Our IoT products seamlessly integrate smart technology into everyday life. Whether it's smart home devices, industrial IoT solutions, or wearable gadgets, we deliver innovative products that enhance connectivity and efficiency.</p>
      <img src="https://bytebeam.io/blog/content/images/size/w2000/2023/08/Top-IoT-device-examples-1--2-.png" alt="IoT Products">
  </section>


  </main>

  <footer>
    <div class="footer0">
      <h1>EmbedTechnolozix</h1>
    </div>
    <div class="footer1 ">
      Connect with us at
      <div class="social-media">
        <a href="https://www.facebook.com/embedtechnolozix" class="fa fa-facebook"></a>
        <a href="https://linkedin.com/company/embedtechnolozix" class="fa fa-linkedin"></a>
        <a href="https://www.instagram.com/embedtechnolozix" class="fa fa-instagram"></a>
        <a href="https://youtube.com/embedtechnolozix" class="fa fa-youtube"></a>
        <a href="https://wa.me/9639627944" class="fa fa-whatsapp"></a>
      </div>
    </div>

    <div class="footer2">Copyright ©  <h4> EmbedTechnolozix Pvt Ltd </h4>  2023-2028</div>
  </footer>
  <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  <script src="./ecommerce.js"></script>
</body>
</html>
